<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Station Name</th>
    <th scope="col">Wind Direction</th>
    <th scope="col">Wind Speed</th>
    <th scope="col">Wind Speed Max</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Aireys Inlet</th>
    <td>SW</td>
    <td>21 knts</td>
    <td>28 knts</td>
  </tr>
  <tr>
    <th scope="row">Cape Otway</th>
    <td>NW</td>
    <td>21 knts</td>
    <td>48 knts</td>
  </tr>
  <tr>
    <th scope="row">Port Fairy</th>
    <td>SE</td>
    <td>10 knts</td>
    <td>18 knts</td>
  </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
